


<div class="navbar-collapse collapse">
    <div class="nav navbar-nav">
        <div class="container">
          
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="Search" placeholder="Фильтр по организации" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-responsive">
    <tr>

        <td>
            @Html.Action("GetOrganizations2", "Organization")
        </td>
        <td>
            <div style="float: right;">


                @Html.Action("GetModes", "SuperMode")

            </div>
        </td>
    
    <tr>
</table>
